body {
    font-family: 'Chakra Petch', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F7F8;
    color: #222831;
}

header, footer {
    background-color: #30475E;
    color: #F5F7F8;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#campo-pesquisa {
    padding: 10px;
    border: 1px solid #30475E;
    border-radius: 5px 0 0 5px;
    width: 70%;
}

button {
    padding: 10px 20px;
    border: none;
    background: #30475E;
    color: #F5F7F8;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.resultados-pesquisa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.item-resultado {
    background: #FFFFFF;
    border: 1px solid #30475E;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item-resultado h2 {
    color: #30475E;
}

a {
    color: #30475E;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
.produto-imagem {
    width: 100%;
    max-height: 200px;
}